
<div data-role="header">
  <h1><%= @list.title %></h1>
  <%= link_to 'Home', lists_url, "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
	<p>
	  <b>Title:</b>
	  <%= @list.title %>
	</p>

	<p>
	  <b>Date:</b>
	  <%= @list.date %>
	</p>

	<p>
	  <b>Link:</b>
	  <%= @list.link %>
	</p>
</div>

