<!DOCTYPE html>
<html>
<head>
  <title>UNC02 Software</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
<%= javascript_include_tag 'jquery.tweet.js' %>
  <%= csrf_meta_tag %>


</head>

<body>

  <div id="top-div">
    <div id="top-container">
        <img src="../images/logo">
<div class="top-right-box">		<a href="https://twitter.com/#!/uncarbonatedsw/"><img src="../images/followbutton.png"></img></a></div>

    </div>
</div>
<div id="main-container-wrapper">
  <div id="main-container">

<%= yield %>
  </div>	
 </div>
<div id="bottom-container-wrapper">
<div id="bot_container">
	<div class="bot_container_left">
	<span class="hilight"> <span class="on">DOWNLOAD</span> and <span class="on">SHARE</span></span>
	</br>
	</br>	
<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=507726329&mt=8"><img src="../images/appstore.png"></img></a><p>Download and share tminus with your friends.</p>	
</div>

      <div class="bot_container_left_middle">
 
          <span class="hilight"><span class="on">RECENT TWEETS</span></span>
       

      <div class="tweet"></div>



           </div> 

			<div class="bot_container_left">
			<span class="hilight"> <span class="on">About UNCO2</span></span>
	<p>	Uncarbonated Software is an iOS app development firm headquartered in Oklahoma City.</p>

		 </br><%= link_to image_tag( '../images/emailbutton.png'), new_contact_path %>
		</div>

		<div class="footer_container">
		&#169; 2012 Uncarbonated Software	
		</div>
</div>
</div>

</body>
</html>
